<%= render "shared/second-header" %>

<div class="show-container">
    <div class="room-top">
        <p class="room-name"><%= @room.room_name %></p>
        <%= link_to "<<back", root_path, class: "back-btn" %>
    </div>

    <div class="member-area">
        <div class="member-area-top">
            <p class="member-area-text">＜ Member List ＞</p>
        </div>

        <div class="member-main">
            <ul class="member-lists">
            <% @members.each do |member| %>
                <li class="member">
                    <p class="member-name"><%= member.name %></p>
                    <div class="member-result">
                        <p class="member-money">¥ </p>
                        <p class="member-fraction"></p>
                    </div>
                </li>
            <% end %>
            </ul>
        </div>

        <div class="member-create-area">
            <%= link_to "Member create", "#", class: "member-create-link", id: "open_second_modal" %>
        </div>

        <%= render "shared/second-modal" %>

    </div>

    <div class="calculator-area">
        <input type="text" class="display" readonly>
        <div class="buttons">
            <button class="btn-C">C</button>
            <button class="btn">/</button>
            <button class="btn">7</button>
            <button class="btn">8</button>
            <button class="btn">9</button>
            <button class="btn">*</button>
            <button class="btn">4</button>
            <button class="btn">5</button>
            <button class="btn">6</button>
            <button class="btn">-</button>
            <button class="btn">1</button>
            <button class="btn">2</button>
            <button class="btn">3</button>
            <button class="btn">+</button>
            <button class="btn">0</button>
            <button class="btn">00</button>
            <button class="btn">.</button>
            <button class="btn">=</button>
        </div>
    </div>
</div>