<%= render "shared/second-header" %>

<div class="show-container">
    <div class="room-top">
        <p class="room-name"><%= @room.room_name %></p>
        <%= link_to "<<back", root_path, class: "back-btn" %>
    </div>

    <div class="member-area">
        <div class="member-area-top">
            <p class="member-area-text">＜ Member List ＞</p>
        </div>

        <div class="member-main">
            <ul class="member-lists">
            <% @members.each do |member| %>
                <li class="member">
                    <p class="member-name"><%= member.name %></p>
                    <div class="member-result">
                        <p class="member-money">¥ </p>
                        <p class="member-fraction">fraction: 0</p>

                    </div>
                </li>
            <% end %>
            </ul>
        </div>

        <div class="member-create-area">
            <%= link_to "Member create", "#", class: "member-create-link", id: "open_second_modal", data: { member_count: @members.count } %>
        </div>

        <%= render "shared/second-modal" %>

    </div>

    <div class="show-main">
        <div class="calculator-area">
            <input type="text" class="display" readonly>
            <div class="buttons">
                <button class="btn-C button">C</button>
                <button class="btn button">/</button>
                <button class="btn button">7</button>
                <button class="btn button">8</button>
                <button class="btn button">9</button>
                <button class="btn button">*</button>
                <button class="btn button">4</button>
                <button class="btn button">5</button>
                <button class="btn button">6</button>
                <button class="btn button">-</button>
                <button class="btn button">1</button>
                <button class="btn button">2</button>
                <button class="btn button">3</button>
                <button class="btn button">+</button>
                <button class="btn button">0</button>
                <button class="btn button">00</button>
                <button class="btn button">.</button>
                <button class="btn button">=</button>
            </div>
        </div>

        <div class="warikan-area">
            <div class="share-area">
                <div class="share-inputs">
                    <span class="share-text">total:</span><input type="number" class="share-input" id="total">
                    <button class= "fair-share", id= "fair_share">Fair Share</button> 
                </div>
                <span class="share-text">pep person:</span><input type="number" class="share-input" id="per_person" readonly>
                <span class="share-text">fraction:</span><input type="number" class="share-input" id="fraction" readonly>
            </div>
            <div class="pay-select-area">
                <div class="select-text-area">
                    <p class="select-text">＜ Pay The Fraction ＞</p>
                </div>
                <div class="pay-select">
                    <% @members.each do |member| %>
                        <button class="select-member" data-member-id="<%= member.id %>"><%= member.name %></button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>